

body {
  /*background: #F5F5F8;*/
  background: #fff;
}

path.state {
  cursor: pointer;
}

h2.section-title {
  font-size: 2.5rem;
  letter-spacing: -.2px;
  line-height: 2.5rem;
  margin-bottom: 10px;
  color: #343F49;
}

.top-title {
  line-height: 2rem;
  font-weight: 300;
  margin-bottom: 10px;
  color: #5AC9E7;
}

.wrap {
  background: #F5F5F8;
  padding: 90px 15px;
  width: 1140px;
  margin: 0 auto;
}

.wrap::after {
  content: "";
  clear: both;
  display: table;
}


@media all and (min-width: 992px) and (max-width: 1199px) {

}
@media all and (max-width: 1199px) {

}

@media all and (max-width: 991px) {

}
@media all and (max-width: 767px) {
  .
}
