

body {
  /*background: #F5F5F8;*/
  background: #fff;
  color: #343F49;
}

path.state {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.top-image img {
  display: block;
}

h1.page-title {
  font-size: 3rem;
  letter-spacing: -.2px;
  line-height: 3.375rem;
  margin: 0;
}

h2.section-title {
  font-size: 2.5rem;
  letter-spacing: -.2px;
  line-height: 2.5rem;
  margin-top: 11.25px;
  margin-bottom: 0;
  color: #343F49;
}

.top-title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 300;
  margin-bottom: 11.25px;
  color: #5AC9E7;
}

.bar {
  height: 12px;
  width: 100px;
  background: #5AC9E7;
}

.intro {
  margin-bottom: 45px;
}

.wrap {
  padding: 0px 15px 90px 15px;
  width: 1140px;
  margin: 0 auto;
}

.content {
  padding-top: 45px;
}

.wrap::after,
.stats-section::after {
  content: "";
  clear: both;
  display: table;
}

.section-text {
  font-size: 1.5rem;
  line-height: 2rem;
}

.section-text p:last-child {
  margin-bottom: 0;
}

.stat-col {
  float: left;
  width: 48%;
  text-align: center;
}

.stat-col.one {
  margin-right: 4%;
}

.stat-wrap {
  max-width: 300px;
  margin: 0 auto;
}

.stat-num {
  color: #E71B4F;
  font-size: 4rem;
  line-height: 3rem;
  font-weight: bold;
}

.stat-num .sign {
  font-size: 2rem;
  line-height: 2rem;
  vertical-align: top;
}

.stat-num .suffix {
  margin-left: 10px;
}

.stat-label {
  color: #5AC9E7;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 11.25px;
}

.stat-text {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 11.25px;
}

.stat-source {
  margin-top: 11.25px;
  font-size: 14px;
  color: #666;
}

.stat-source a {
  color: #666;
}

.stat-source a:hover {
  color: #ccc;
}

.speed-chart {
  margin-top: 22.5px;
}

.speed-chart .axis path,
.speed-chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.speed-chart .line {
  fill: none;
}

.speed-chart .x.axis path {
  display: inline;
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .wrap {
    width: 970px;
  }
}

@media all and (max-width: 1199px) {
  body {
    background: #F5F5F8;
  }
}

@media all and (max-width: 991px) {

}
@media all and (max-width: 767px) {

}
