

body {
  /*background: #F5F5F8;*/
  background: #fff;
}

path.state {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.top-image img {
  display: block;
}

h1.page-title {
  font-size: 3rem;
  letter-spacing: -.2px;
  line-height: 3.375rem;
  margin: 0;
}

h2.section-title {
  font-size: 2.5rem;
  letter-spacing: -.2px;
  line-height: 2.5rem;
  margin-bottom: 10px;
  color: #343F49;
}

.top-title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 300;
  margin-bottom: 11.25px;
  color: #5AC9E7;
}

.wrap {
  padding: 90px 15px;
  width: 1140px;
  margin: 0 auto;
}

.section.one .wrap {
  padding-top: 45px;
}

.wrap::after {
  content: "";
  clear: both;
  display: table;
}

.section-text {
  font-size: 1.5rem;
  line-height: 2rem;
}


@media all and (min-width: 992px) and (max-width: 1199px) {

}
@media all and (max-width: 1199px) {

}

@media all and (max-width: 991px) {

}
@media all and (max-width: 767px) {
  .
}
